//### Colors
$dark-blue-primary: hsl(217, 28%, 15%); //(intro and email sign up background)
$dark-blue-main: hsl(218, 28%, 13%); //(main background)
$dark-blue-footer: hsl(216, 53%, 9%); //(footer background)
$dark-blue-testimonials: hsl(219, 30%, 18%); //(testimonials background)

//### Accent
$cyan-color: hsl(176, 68%, 64%); // (inside call-to-action gradient)
$blue-color: hsl(198, 60%, 50%); //(inside call-to-action gradient)
$light-red: hsl(0, 100%, 63%); //(error)
//### Neutral
$white: hsl(0, 0%, 100%);
// Container
$container-width: 1200px;
//fonts
//### Headings, Call-to-actions, Header Navigation
//font-family: 'Raleway', sans-serif;
//body
//font-family: 'Open Sans', sans-serif;
